#red{
    border-top: #f00;
}
#orange{
    border-top: #ffa500;
}
#yellow{
    border-top: #ff0;
}
#green{
    border-top:#00bc3f ;
}
#blue{
    border-top:#06f ;
}
#indigo{
    border-top: #8a2be2;
}
#violet{
    border-top:#d300c9 ;
}